.container {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 8px;
  font-size: var(--font-size-s);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-m);
  color: var(--text-color);
}

.svgImg {
  opacity: 50%;
  width: 14px;
}
