.container {
  padding: 20px 30px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.title {
  display: block;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
  font-weight: var(--semi-bold);
  color: var(--main-color);
  opacity: 80%;
}

.subtitle {
  display: block;
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  font-weight: var(--bold);
  color: var(--main-color);
  opacity: 30%;
}
