:root {
  --bold: 600;
  --line-height: 28px;
}
.container {
  padding: 20px 30px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.title {
  display: block;
  font-size: 22px;
  line-height: var(--line-height);
  font-weight: var(--bold);
  color: var(--main-color);
  opacity: 80%;
}

.subtitle {
  display: block;
  font-size: 16px;
  line-height: var(--line-height);
  font-weight: var(--bold);
  color: var(--main-color);
  opacity: 30%;
}
