.container {
  position: relative;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  background-color: #fff;
  border-radius: 50%;
  height: 26px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.edit:hover {
  cursor: pointer;
}

.editSvg {
  opacity: var(--svg-opacity);
  width: 14px;
  height: 14px;
}
