.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.gridContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-gap: 25px;
  justify-content: center;
  padding: 25px 60px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  display: inline-block;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--semi-bold);
  color: var(--text-color);
}

.content {
  display: inline-block;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-color);
}
