.container {
  padding: calc(25px - var(--card-margin)) calc(60px - var(--card-margin));
  display: flex;
  flex-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  display: inline-block;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--semi-bold);
  color: var(--text-color);
}

.content {
  display: inline-block;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-color);
}
