:root {
  --card-margin: calc(25px / 2);
  --text-color: rgb(0, 17, 34, 0.8);
  --border-color: rgb(0, 17, 34, 0.1);
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: local('Lato'), url(./fonts/Lato/Lato-Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: local('Lato'), url(./fonts/Lato/Lato-Black.ttf) format('opentype');
}
