:root {
  --card-margin: calc(25px / 2);
  --main-color: #001122;
  --text-color: rgba(0, 17, 34, 0.8);
  --padding-vertical: 15px;
  --padding-horizontal: 25px;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: local('Lato'), url(./fonts/Lato/Lato-Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: local('Lato'), url(./fonts/Lato/Lato-Black.ttf) format('opentype');
}
